@import "reset.css";
@import "grid-1200.css";

.container_12 {
	/*position: relative;*/
	width: 900px;
	height: 100px;
	background: #eee;
}

.brand {
	/*position: absolute;*/
	top: 0px;
	left: 200px;
	width: 220px;
	height: auto;
}