
body {
	margin: 0;
	color: #858585;
	font-family: 'Noto Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5; /* 14px * 1.5 = 21px */
}

section {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 84px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: url("../images/grid-pattern.png");
}

section * {
	margin-top: 0;
}