

/* --------------------------------------------------
Container
-------------------------------------------------- */
div#container, div.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }


/* --------------------------------------------------
Grid
-------------------------------------------------- */
.column-row, .row { margin: 0 0 18px -0px; }
.column, .columns { float: left; display: inline; margin: 0 0 0 0px; }

.one { width: 120px; }
.two { width: 240px; }
.three { width: 360px; }
.four { width: 480px; }
.five { width: 600px; }
.six { width: 720px; }
.seven { width: 840px; }
.eight { width: 960px; }

.offset-by-one-half { margin-left: 60px; }
.offset-by-one { margin-left: 120px; }
.offset-by-two { margin-left: 240px; }
.offset-by-three { margin-left: 360px; }
.offset-by-four { margin-left: 480px; }
.offset-by-five { margin-left: 600px; }
.offset-by-six { margin-left: 720px; }

/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }

/* IE6 Problems ---------- */
body.ie .column-row { width: 960px; }
body.ie .two-thirds .column-row { width: 960px; }