@charset: utf-8;
/**
 * --------------------------------
 * CSS 모듈
 * ----------------------------- */
@import "reset.css";
@import "layout.css";

/**
 * --------------------------------
 * 페이지 디자인
 * ----------------------------- */
#page {
	min-height: 100vh;
	background: #eaeaea;
}

#page * {
	box-sizing: border-box;
}

/* --------------------------------------------------
Baseline
-------------------------------------------------- */
#page.baseline-10 {
	background: linear-gradient(180deg, transparent 90%, #FE4940);
	background-size: 10px 10px;
}

#page [class^="col"] {
	height: 100vh;
}

#header {
	height: 80px;
	background: hsla(0, 0%, 100%, 0.8);
}

#slider {
	height: 480px;
	background: hsla(0, 0%, 93%, 0.4);
}

#slider .slider-content {
	background: hsla(0, 0%, 43%, 0.4);
	height: 100%;
}

#slider .slider-indicator {
	background: hsla(0, 0%, 61%, 0.4);
	height: 100%;
}

#slider .slider-indicator .indicator-item {
	display: block;
	height: 120px;
	background: hsla(37, 16%, 62%, 0.4);
	border-bottom: 1px solid hsla(0, 0%, 100%, 0.6);
}

#slider .slider-indicator .indicator-item:last-child {
	border-bottom: 0;
}

/*#page .col1 {
	background: #FC414B;
}
#page .col2 {
	background: #358DFB;
}
#page .col3 {
	background: #FC414B;
}
#page .col4 {
	background: #358DFB;
}
#page .col5 {
	background: #FC414B;
}
#page .col6 {
	background: #358DFB;
}
#page .col7 {
	background: #FC414B;
}
#page .col8 {
	background: #358DFB;
}*/