body {
	margin: 0;
}

/*
	페이지 폭: 1200px
	거터 폭: 20px
	컬럼 폭: 80px
	컬럼의 개수: 12
*/

.container {
	/* 화면의 폭 */
	width: 1200px;
	/* 가운데 정렬을 위한 코드 */
	margin-left: auto;
	margin-right: auto;
}

.grid {
	/* 높이: 화면 가득 채우는 높이를 설정 */
	height: 100vh; /* vh = viewport height */
	/* 그리드 시스템 패턴 이미지 설정 */
	background: url(../images/grid-system-1200-80-20.png);

}